extends layout

block content
  nav.white(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='/') Wiki
        if(!user)
          ul.right.hide-on-med-and-down
            li
              a(href='/login') Login
            li
              a(href='/register') Register
          ul#nav-mobile.side-nav
            li
              a(href='/login') Login
            li
              a(href='/register') Register
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons menu
        if(user)    
          ul.right.hide-on-med-and-down
            li
              a(href="/dashboard") Welcome, #{user.username}
            li
              a(href="/logout") Logout
          ul#nav-mobile.side-nav
            li
              a(href='/dashboard') Welcome, #{user.username}
            li
              a(href='/logout') Logout
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons menu
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          br
          br
          h1.header.center.teal-text.text-lighten-2 A Simple Wikipedia Search Engine
          .row.center
            h5.header.col.s12.light A modern responsive search engine to simply the way we search.
          .row.center
            a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1(href='/login') Start Searching
          br
          br
      .parallax
        img(src='/images/background1.jpg', alt='Unsplashed background img 1')
    .container
      .section
        // Icon Section
        .row
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.material-icons flash_on
              h5.center Speeds up results
              p.light
                | We did most of the heavy lifting for you. Additionally, we refined the search, and are providing a whole list of related items, so you find exactly what you are loking for..
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.material-icons group
              h5.center User Experience Focused
              p.light
                | By utilizing elements and principles of Material Design, we were able to create a framework, that provides more feedback to the user. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.material-icons settings
              h5.center Easy to work with
              p.light
                | We have provided detailed documentation to help new users get started. We are also always open to feedback and can answer any questions a user may have about Wiki.
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light Dive in today, to enjoy a refined version of Wikipedia.
      .parallax
        img(src='/images/background2.jpg', alt='Unsplashed background img 2')
    .container
      .section
        .row
          .col.s12.center
            h3
              i.mdi-content-send.brown-text
            h4 Contact Us
            p.left-align.light
              | We are students of Dwarkadas J Sanghvi College, aiming to excel in the field of search. if you have any queries, feel free to contact us at wiki@djsce.edu
    
    // Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.js')
    script(src='js/init.js')
