doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  body
    block content

  footer  
    footer.page-footer.teal
            .container
              .row
                .col.l9.s3
                  p
                .col.l3.s9
                  h5.white-text SiteMap
                  ul
                    li
                      a.white-text(href='/login') Login
                    li
                      a.white-text(href='/register') Register
                    li
                      a.white-text(href='/#') Take me back home
            .footer-copyright
              .container
                | Made by 
                a.brown-text.text-lighten-3 Rohil and Riken

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='/js/materialize.js')
  script(src='/js/init.js')
