/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.log {
  background-color:#A2DED0;
}
html {
  overflow: auto;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 50px; 
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  font-size: 150%;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#searchContainer {
  margin:20px;
  padding: 5em;
  align-items: center;
  justify-content: center 
}

/* Style the search input field. */
#field {
  float:left; 
  width:100%; 
  height:27px; 
  line-height:27px;
  text-indent:10px; 
  font-family:arial, sans-serif; 
  font-size:1em; 
  color:#333; 
  background: #fff; 
  border:solid 1px #d9d9d9; 
  border-top:solid 1px #c0c0c0; 
  border-right:none;
}

/* Style the "X" text button next to the search input field */
#delete {
  float:left; 
  width:16px;
  height:29px; 
  line-height:27px; 
  margin-right:15px; 
  padding:0 10px 0 10px;
  font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
  font-size:22px; 
  background: #fff;  
  border:solid 1px #d9d9d9; 
  border-top:solid 1px #c0c0c0; 
  border-left:none;
}
/* Set default state of "X" and hide it */
#delete #x {
  color:#A1B9ED; 
  cursor:pointer;
  display:none;
}
/* Set the hover state of "X" */
#delete #x:hover {
  color:#36c;
}
/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE */
#submit {
  cursor:pointer; 
  width:70px; 
  height: 31px; 
  line-height:0; 
  font-size:0; 
  text-indent:-999px;
  color: transparent;  
  background: url(/images/search.png) no-repeat #4d90fe center; 
  border: 1px solid #3079ED; 
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
}
/* Style the search button hover state */
#submit:hover {
  background: url(ico-search.png) no-repeat center #357AE8; 
  border: 1px solid #2F5BB7;
}
/* Clear floats */
.fclear {clear:both}

.row{
  justify-content: center;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
